@import 'themes/main';
@import 'menu';

body {
  padding: 1%;
}

header, footer {
  padding: 1ex;
  display:   block;
  background-color: $bg-comp;
  color: $fg-comp;
}

header {
  font-size: $big-font-size;
}

footer {
  font-size: $small-font-size;
  text-align: center;
}
