[submodule "vendor/foundation-sites"]
	path = vendor/foundation-sites
	url = https://github.com/zurb/foundation-sites
[submodule "vendor/closure-compiler"]
	path = vendor/closure-compiler
	url = https://github.com/google/closure-compiler.git
